<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-4.0.xsd
">
	<!-- 此处没有必要配置id,因为 访问控制层是通过 @RequestMapping("/product")-->
   <bean class="cn.dw.controller.ProductController">
        <!-- 去查找 spring-bean.xml中的 id=ps -->
   		<property name="productService" ref="ps" />
   </bean>
   
    <bean class="cn.dw.controller.CategoryController" />
   
   <!-- 开启mvc注解 -->
   <mvc:annotation-driven />
   <!-- 必须配置注解扫描,否则mvc配置的注解无效 -->
   <context:component-scan base-package="cn.dw.controller" />
   <!-- id名称不能修改,因为在源码中指定  -->
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
  
   
	
</beans>







